.logo-conteiner{
    max-width: 50%;
    margin: 0% 25%;
}
.logo-conteiner img{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
.container{
   width: 90%;
    margin: 0% 5%;
    text-align: center;

}
.search-box{

    background-color: whitesmoke;
}
form{
    width:50%;
    margin: 0% 25%;
}
input[type~="search"]{
    width: 100%;
}

table{
    text-align: center;
    width: 100%;
}
table td{
    background-color: #7EE5DA;
}
